
@{
    ViewData["Title"] = "Appraise";
}
<!DOCTYPE html>
<html>
<head>
    <title>Appraise</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>
    <header>
        <h1>Appraise</h1>
        <img src="~/Images/logo.png" alt="Logo" height="50" width="50" />
    </header>

    <ul>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a class="active" href="~/Home/Appraise">Appraise</a></li>
    </ul>

    <form action="~/Home/Appraise" method="POST">
        <div>
            <label for="title">Textbook Title:</label>
            <input type="text" id="make" name="title" placeholder="" />
            <br />
        </div>

        <div>
            <label for="isbn">Textbook ISBN:</label>
            <input type="text" id="isbn" name="isbn" placeholder="" />
            <br />
        </div>

        <div>
            <label for="version">Textbook Version:</label>
            <input type="text" id="version" name="version" placeholder="" />
            <br />
        </div>

        <div>
            <label for="originalPrice">Original Purchase Price:</label>
            <input type="text"
                   id="originalPrice"
                   name="originalPrice"
                   placeholder="" />
            <br />
        </div>

        <div>
            <label for="condition">Condition:</label>
            <select name="condition" id="condition">
                <option value="likeNew">Like New</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
            <br />
        </div>

        <input type="submit" value="Appraise" />
    </form>
</body>
</html>
