@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <title>Appraise Your Textbook</title>
</head>
<body>
    <article id="box">
        <header>
            <h1>Students4CheapTexts</h1>
            <img src="~/Images/logo.png"
                 alt="Logo"
                 height="50"
                 width="50" />
        </header>

        <ul>
            <li><a class="active" href=".~/Home/Index">Home</a></li>
            <li><a href="~/Home/Appraise">Appraise</a></li>
        </ul>

        <p>
            Students4CheapTextbooks is a student group focused on bringing
            you the cheapest possible price for a textbook.<br />
            Did you know, that the average student spends $600 on textbooks
            per semester.<br />
            Our focus is to try and bring that down. If you have a used
            textbook to sell, click on the appraise button in the nav bar
            above and we will get you a price!
        </p>
    </article>
</body>
</html>
